.main{
    flex: 20;
    display: flex; 
    flex-direction: column;
    background-color: white;
    overflow: hidden;
    height: 100vh;
    border-left: 2px whitesmoke solid;
    box-shadow: -5px -2px 6px 0px rgba(138,127,127,0.75);
    -webkit-box-shadow: -5px -2px 6px 0px rgba(138,127,127,0.75);
    -moz-box-shadow: -5px -2px 6px 0px rgba(138,127,127,0.75);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0;
    padding: 5px;
    gap: 20px;
    border-bottom: 2px whitesmoke solid;
}

.name{
    font-weight: bolder;
}

.details{
    display: flex;
    flex-direction: column;
}

