.main {
    flex: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color:#007aff;
    border-radius:0 7px 7px 0;
    overflow: scroll !important;
    overflow-x: hidden ;
}

::-webkit-scrollbar {
    width: 1px;
    background-color: white;
}






