.main{
    Margin: 10px 0;
    width: 100%;
    padding:10px 0;
    background-color: #3596ff;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input{
    margin: 5px 0;
    width: 70%;
    height: 28px;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: #3596ff;
    color: white;
}

.input::placeholder{
    color:lightgray;
}

.icon{
    margin: 10px 0;
    padding: auto;
    color: #5db2ff;
}

